/* ----------------- Silder ------------------ */

div.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.horizontal-scroll {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
}


/*--------------- Bouttons ---------------*/

/*----------------- left -----------------*/
#btn-scroll-left {
    text-decoration: none;
    color: black;
    padding: 0.5em 0.5em 0.5em 3em;
    border-radius: 60px;
}

#btn-scroll-left::before {
    z-index: 1;
    display: block;
    position: absolute;
    top: 195px;
    left: 24px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    width: 0.9em;
    height: 0.9em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: black;
    transform: rotate(135deg);
    transition: 1s;
}

/*----------------- right -----------------*/

#btn-scroll-right {
    text-decoration: none;
    color: black;
    padding: 0.5em 0.5em 0.5em 3em;
    border-radius: 60px;
}

#btn-scroll-right::before {
    z-index: 1;
    display: block;
    position: absolute;
    top: 195px;
    right: 24px;
    content: "";
    margin-left: auto;
    margin-right: auto;
    width: 0.9em;
    height: 0.9em;
    border-top: 2px solid;
    border-left: 2px solid;
    color: black;
    transform: rotate(135deg);
    transition: 1s;
}

/* ------ button ----------*/

button.btn-scroll {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px #999;
    width: 50px;
    height: 50px;
    padding: 5px 8px;
    border: 0px;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 50;
    cursor: pointer;
    transition: 1s;
}

div.images-containers {
    display: flex;
    flex-direction: row;
    justify-self: start;
    align-items: center;
    position: absolute;
    left: 0;
    transition: 1s;
}

div.image-size {
    display: flex;
    justify-items: center;
    align-items: center;
}

div.image-size img {
    width: 350px;
    height: 400px;
    border: 5px solid black;
    transition: 1s;
}

/*--------- Button More information --------------*/

img:hover {
    transform: scale(1.1);
    transition: 1s;
    opacity: 1;
}


img~a.btn-information {
    z-index: 2;
}