#top {
    height: 23vh;
}


/* ------- Center --------- */

.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px;
    padding: 0;
}


@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 950px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 670px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#explorer div {
    text-align: center;
    font-size: 12px;
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    border-radius: 0 10px 10px 0;
    background-image: url('../img/cards.webp');
    justify-content: center;
    align-items: center;
    display: flex;
    perspective: 100em;
    margin-bottom: 25px;
    margin-top: 25px;
    box-shadow: 30px 40px 40px rgba(0, 0, 0, 0.2);
}

.cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/cards.webp');
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform 1s;
    border-radius: 0 10px 10px 0;
    font-size: 30px;
    font-weight: bold;
}

.card:hover .cover {
    transform: rotateY(-120deg);
}

.coverFront,
.coverBack {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.coverFront {
    background: #f4f4f4;
    text-align: center;
    border-radius: 0 10px 10px 0;
    color: #333;
}

.coverBack {
    background: #ddd;
    border-radius: 10px 0 0 10px;
    transform: rotateY(180deg);
}

.sh_img {
    width: 200px;
    height: 300px;
}

/* ------------------ Button ------------------ */

button.btn-information {
    padding: 10px;
    position: relative;
    text-decoration: none;
    color: black;
    backdrop-filter: blur(20px);
    border: 2px solid black;
}
