body {
    height: 100%;
    display: flex;
    flex-direction: column;
}


#top {
    height: 15vh;
}

.container {
    margin: 50px 150px;
    text-align: center;
    flex: 1 0 auto;
}

@media screen and (max-width: 480px) {
    .container {
        margin: 50px 50px;
    }
}