.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 100vh;
}

.cover {
    margin: 10em auto auto;
    background-image: url(../img/cards.png);
    padding: 2em;
    border-radius: 10px;
    max-width: 50em;
    color: #ffffff;
    display: flex;
    text-align: right;
    box-shadow: 3px 3px 5px #000000,
    -2.5px -2.5px 5px #000000;
}

.cover p {
    opacity: 0.8;
    font-style: italic;
}

.price {
    opacity: 0.8;
}

img {
    width: 540px;
    height: 450px;
}


.magnify {
    width: 550px;
    height: 300px;
    position: relative;
    display: inline-block;
}

.magnify .magnified {
    display: block;
    z-index: 10;
    margin: auto;
    border: 5px solid black;
}

.magnify .magnifier {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    z-index: 20;
    border: 4px solid black;
    background-size: 1000%;
    background-repeat: no-repeat;
    margin-left: -100px !important;
    margin-top: -100px !important;
    pointer-events: none;
}

/* Adding cart animation */

.cart-button:not(:disabled):hover {

}

.cart-button {
    position: relative;
    border: none;
    background: none;
    padding: 8px 28px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    min-width: 144px;
    color: black;
    backdrop-filter: blur(20px);
    transform: scale(0.95);
    transition: transform 0.4s cubic-bezier(0.36, 1.01, 0.32, 1.27);
    box-shadow: 0 0 0 2px black;
}

.cart-button:active {
    transform: scale(0.95);
}

.cart-button span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    position: relative;
    padding-left: 24px;
    margin-left: -8px;
    line-height: 26px;
    transform: translateY(var(--span-y, 0));
    transition: transform 0.7s ease;
}

.cart-button span:before, .cart-button span:after {
    content: '';
    width: var(--w, 2px);
    height: var(--h, 14px);
    border-radius: 1px;
    position: absolute;
    left: var(--l, 8px);
    top: var(--t, 6px);
    background: currentColor;
    transform: scale(0.75) rotate(var(--icon-r, 0deg));
    transition: transform 0.65s ease 0.05s;
}

.cart-button span:after {
    --w: 14px;
    --h: 2px;
    --l: 2px;
    --t: 12px;
}

.cart-button .cart {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -13px 0 0 -18px;
    transform-origin: 12px 23px;
    transform: translateX(-120px) rotate(-18deg);
}

.cart-button .cart:before, .cart-button .cart:after {
    content: '';
    position: absolute;
}

.cart-button .cart:before {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px black;
    bottom: 0;
    left: 9px;
    filter: drop-shadow(11px 0 0 black);
}

.cart-button .cart:after {
    width: 16px;
    height: 9px;
    background: black;
    left: 9px;
    bottom: 7px;
    transform-origin: 50% 100%;
    transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
    transition: transform 1.2s ease var(--fill-d);
}

.cart-button .cart svg {
    z-index: 1;
    width: 36px;
    height: 26px;
    display: block;
    position: relative;
    fill: none;
    stroke: black;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.cart-button .cart svg polyline:last-child {
    stroke: black;
    stroke-dasharray: 10px;
    stroke-dashoffset: var(--offset, 10px);
    transition: stroke-dashoffset 0.4s ease var(--offset-d);
}

.cart-button.loading {
    --scale: 0.95;
    --span-y: -32px;
    --icon-r: 180deg;
    --fill: 1;
    --fill-d: 0.8s;
    --offset: 0;
    --offset-d: 1.73s;
}

.cart-button.loading .cart {
    animation: cart 3.4s linear forwards 0.2s;
}

@keyframes cart {
    12.5% {
        transform: translateX(-60px) rotate(-18deg);
    }
    25%, 45%, 55%, 75% {
        transform: none;
    }
    50% {
        transform: scale(0.9);
    }
    44%, 56% {
        transform-origin: 12px 23px;
    }
    45%, 55% {
        transform-origin: 50% 50%;
    }
    87.5% {
        transform: translateX(70px) rotate(-18deg);
    }
    100% {
        transform: translateX(140px) rotate(-18deg);
    }
}

/*--------- Section avis ---------- */

.slide {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth
}

.container {
    width: 100%;
    min-width: 700px;
    display: flex;
    margin: auto;
    align-items: center;
}


.card {
    border: 2px solid black;
    width: 350px;
    height: 400px;
    min-width: 350px;
    min-height: 400px;
    transition-duration: 1s;
    margin: 50px;
    z-index: 1;
    backdrop-filter: blur(50px);
}

/*--------------- Bouttons ---------------*/

/*----------------- left -----------------*/
#btn-scroll-left {
    text-decoration: none;
    color: black;
    padding: 0.5em 0.5em 0.5em 3em;
    border-radius: 60px;
    width: 50px;
    height: 50px;
}

#btn-scroll-left::before {
    z-index: 1;
    display: block;
    position: absolute;
    content: "";
    left: 20px;
    bottom: -259px;
    margin-left: auto;
    margin-right: auto;
    width: 0.9em;
    height: 0.9em;
    border-right: 2px solid;
    border-bottom: 2px solid;
    color: black;
    transform: rotate(135deg);
    transition: 1s;
}

/*----------------- right -----------------*/

#btn-scroll-right {
    text-decoration: none;
    color: black;
    padding: 0.5em 0.5em 0.5em 3em;
    border-radius: 60px;
    width: 50px;
    height: 50px;
}

#btn-scroll-right::before {
    z-index: 1;
    display: block;
    position: absolute;
    content: "";
    right: 20px;
    bottom: -259px;
    margin-left: auto;
    margin-right: auto;
    width: 0.9em;
    height: 0.9em;
    border-top: 2px solid;
    border-left: 2px solid;
    color: black;
    transform: rotate(135deg);
    transition: 1s;
}

/* ------ button ----------*/

button.btn-scroll {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px #999;
    width: 50px;
    height: 50px;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin: 0 5px;
    z-index: 50;
    cursor: pointer;
    transition: 1s;
}

@media (max-width: 840px) {
    .cover {
        margin: 5em 2em 2em;
        display: block;
        text-align: center;
    }
}

@media (max-width: 665px) {
    .cover {
        margin: 3em 2em 2em;
        display: block;
        text-align: center;
    }
}
