.top {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.container {
    background: #20283c;
    width: 500px;
    height: 250px;
}

span {
    font-size: 60px;
}

#revenue-year {
    padding: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-s {
    padding: 20px;
    border-radius: 4px;
    margin-left: 20px;
    height: 250px;
    overflow-y: auto;
}

.container-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bar {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    display: flex;
    height: 10px;
    width: 100%;
}

.progressBar {
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    height: 10px;
    background: #456aff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.container-product-ref {
    display: flex;
    justify-content: space-between;
}

#units-sold-year {
    padding: 20px;
    border-radius: 4px;
}

#product-q {
    padding: 20px;
    border-radius: 4px;
    margin-left: 20px;
}

#productMonth {
    width: 400px;
    height: 400px;
}


@media screen and (max-width: 1150px) {
    .container {
        width: 400px;
    }
}

@media screen and (max-width: 980px) {
    .container {
        width: 300px;
    }
}

@media screen and (max-width: 730px) {
    .top {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        align-items: stretch;
    }

    #product-q, .product-s {
        margin-left: 0;
    }
}

@media screen and (max-width: 370px) {
    .container {
        width: 200px;
    }

    span {
        font-size: 40px;
    }
}