* {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


.nav-container {
    padding: 0;
    margin: 0;
}

.nav-bar-left {
    position: fixed;
    background: black;
    min-height: 100vh;
    width: 300px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    margin: 10px;
    background: rgb(23 30 47);
    list-style: none;
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
}

ul li:hover {
    background: #20283c;
    border-right: 5px solid #456aff;
}


ul li input {
    display: none;
}


/* */

.dashboard-container {
    width: calc(100% - 301px);
    margin-left: 300px;
    background: rgb(23 30 47);
}

iframe {
    width: 100%;
    overflow: hidden;
    border: none;
    min-height: 100vh;
}

ul li span {
    color: white;
    padding: 20px;
    display: block;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.img-buttons {
    width: 50px;
    height: 50px;
}


@media screen and (max-width: 760px) {
    ul {
        margin-top: 10vh;
    }

    .nav-bar-left {
        position: fixed;
        width: 75px;
        transition: 0.5s ease-in-out;
    }

    .nav-bar-left ul li span {
        display: none;
        transition: 0.5s ease-in-out;
    }

    .nav-bar-left:hover {
        width: 200px;
    }

    .nav-bar-left:hover ul li span {
        display: block;
    }

    .dashboard-container {
        width: calc(100% - 76px);
        margin-left: 75px;
    }

    .img-buttons {
        width: 50px;
        height: 50px;
    }

    .nav-bar-left:hover .img-buttons {
        width: 50px;
        height: 50px;
    }
}