
button {
    cursor: pointer;
}

button.addAdmin {
    background: transparent;
    color: green;
    border: none;
}

button.removeAdmin {
    background: transparent;
    color: red;
    border: none;
}