/* */

form {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

fieldset {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
}

.delete {
    background: transparent;
    border: none;
    cursor: pointer;
}

.status-state {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

#adding-box {
    background: #20283c;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 200px;
}

#adding-box label {
    display: block;
    padding: 20px 0 20px 20px;
    width: 90%;
}

#adding-box input {
    display: none;
}

#adding-box input:checked + label {
    border-right: 5px solid #456aff;
    margin-bottom: 20px;
}

#adding-element {
    /*display: none;*/
}

#adding-box input:checked ~ #adding-element {
    display: block;
}

/* adding element */

input, select, option {
    color: black;
}

#adding-element > form > fieldset:first-child {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 4px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    color: black;
}

#adding-element > form > fieldset:first-child label {
    border: 1px solid black;
    border-radius: 0;
    margin-bottom: 10px;
    width: 50%;
    box-sizing: border-box;
    color: black;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
}

#adding-element > form > fieldset:first-child input, select, option {
    border: 1px solid black;
    border-radius: 0;
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

#fileInput {
    display: none;
}

#icon {
    display: block;
    width: 100%;
    cursor: pointer;
}


/**/

#bottom {
    margin-top: 100px
}


@media screen and (max-width: 1300px) {
    #adding-element tr td label input[type="text"] {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    #adding-element tr td label input[type="text"] {
        width: 50px;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}