tbody > tr > td > button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
}

#submit {
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}

#submit > input {
    background-color: #22283c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}

#adding-element-stock {
    background-color: #22283c;
    margin: 100px auto;
    font-family: Raleway, sans-serif;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

#adding-element-stock select,
#adding-element-stock input,
#adding-element-stock select option {
    color: black;
}

#adding-element-stock label {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}


#adding-element-stock label input,
#adding-element-stock label select {
    padding: 10px 0;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
}

form h1 {
    text-align: center;
    text-transform: uppercase;
    color: #2C3E50;
}

.tab > input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway, sans-serif;
    border: 1px solid #aaaaaa;
}

input.invalid,
select.invalid,
#file-label.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

#prevBtn, #nextBtn {
    background-color: #456aff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway, sans-serif;
    cursor: pointer;
}

#prevBtn:hover, #nextBtn:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #456aff;
}

#bottom {
    margin-top: 100px
}


@media screen and (max-width: 1300px) {
    #adding-element tr td label input[type="text"] {
        width: 100px;
    }
}

@media screen and (max-width: 1000px) {
    #adding-element tr td label input[type="text"] {
        width: 50px;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}

@media screen and (max-width: 490px) {
    #adding-element-stock {
        min-width: 200px;
    }
}

@media screen and (max-width: 380px) {
    #adding-element-stock {
        min-width: 150px;
    }
}

@media screen and (max-width: 340px) {
    #adding-element-stock {
        min-width: 100px;
        padding: 20px;
    }
}